## Code to process information from 505 financial companies

In [1]:
# importing the required modules
import glob
import pandas as pd
import numpy as np
  
# specifying the path to csv files
path = "../../Data/E2_FinanceData/all_data"
  
# csv files in the path
files = glob.glob(path + "/*.CSV")

  
# defining an empty list to store 
# content
data_frame = pd.DataFrame()
content = []
  
# checking all the csv files in the specified path
for filename in files:
    # reading content of csv file
    df = pd.read_csv(filename, sep=";", index_col=None)
    content.append(df)
  
# converting content to data frame
data_frame = pd.concat(content)

In [35]:
valueMax = np.inf
ifinal = 0
for i in range(len(content)):
    if valueMax > content[i].shape[0]:
        valueMax = content[i].shape[0]
        ifinal = i

valueMax = 20
df = pd.DataFrame()
content_f = []
for i in range(len(content)):
    content_f.append(content[i][0:valueMax])
df = pd.concat(content_f)

In [36]:
# df_5 = df.copy()
# for i in range(1):
#     df_5 = pd.concat([df_5, df.copy()])
    
# df_5 = df_5.reset_index(drop=True)
# df_5.shape

In [37]:
# #def dataframe_to_tensor(df, eliminateColumn, columns, valueMax):       
# valueMax = 20
# df = df_5.copy()
# eliminateColumn = True
# columns=["Timestamp"]

# _, idx = np.unique(df.Symbol, return_index=True)
# listSamples = np.array(df.Symbol)[np.sort(idx)]

# index = df.index

# for i in range(len(listSamples)):
#     df_trial = df[df.Symbol == listSamples[i]]
#     if eliminateColumn:
#         df_trial = df_trial.drop(columns=columns)
#     if i == 0:
#         X = np.array(df_trial)
#         X = X.reshape(1, valueMax, df.shape[1] - len(columns))
#     else:
#         X_2 = np.array(df_trial)
#         X_2 = X_2.reshape(1, valueMax, df.shape[1] - len(columns))
#         X = np.append(X, X_2, axis=0)

# X = np.delete(X, [0,-1], axis=2)

# #    return X

In [38]:
df

   Symbol  Adjclose   Close    High     Low    Open   Timestamp   Volume
0      EL   12.1445  14.950  15.025  14.755  14.925  2003-02-04  2227200
1      EL   12.1038  14.900  15.000  14.880  14.900  2003-02-05  1366600
2      EL   11.9820  14.750  14.935  14.625  14.880  2003-02-06  2003400
3      EL   11.9292  14.685  14.825  14.500  14.635  2003-02-07  1670000
4      EL   11.9211  14.675  14.775  14.485  14.600  2003-02-10  2885800
..    ...       ...     ...     ...     ...     ...         ...      ...
15   ETSY   23.6900  23.690  24.420  22.720  23.400  2015-05-07   616600
16   ETSY   22.7100  22.710  24.100  22.500  23.930  2015-05-08   784000
17   ETSY   20.8500  20.850  21.490  20.020  20.710  2015-05-11  2115100
18   ETSY   20.5700  20.570  21.450  20.360  21.230  2015-05-12  1140300
19   ETSY   19.8300  19.830  20.780  19.500  20.500  2015-05-13  1536000

[10100 rows x 8 columns]

In [39]:
def dataframe_to_tensor(df, eliminateColumn, columns, valueMax):       
    eliminateColumn = True
    columns=["Timestamp"]

    _, idx = np.unique(df.Symbol, return_index=True)
    listSamples = np.array(df.Symbol)[np.sort(idx)]

    index = df.index

    for i in range(len(listSamples)):
        df_trial = df[df.Symbol == listSamples[i]]
        if eliminateColumn:
            df_trial = df_trial.drop(columns=columns)
        if i == 0:
            X = np.array(df_trial)
            X = X.reshape(1, valueMax, df.shape[1] - len(columns))
        else:
            X_2 = np.array(df_trial)
            X_2 = X_2.reshape(1, valueMax, df.shape[1] - len(columns))
            X = np.append(X, X_2, axis=0)

    X = np.delete(X, [0], axis=2)

    return X

In [40]:
X_data_tensor = dataframe_to_tensor(
                 df, 
                 eliminateColumn=True, columns=["Timestamp"], 
                 valueMax=valueMax)
X_data_tensor.shape
np.save(
   "../../Data/E2_FinanceData/FinanceData_20days.npy", X_data_tensor
)

In [41]:
a = np.load('../../Data/E2_FinanceData/FinanceData_20days.npy',allow_pickle=True)
c = a.copy()
for i in range(4):
    c = np.concatenate((c,a.copy()))
    print(c.shape)

np.save(
   "../../Data/E2_FinanceData/FinanceData_20days_Mult5.npy", c
)

(1010, 20, 6)
(1515, 20, 6)
(2020, 20, 6)
(2525, 20, 6)

In [42]:
a = np.load('../../Data/E2_FinanceData/FinanceData_20days.npy',allow_pickle=True)
c = a.copy()
for i in range(9):
    c = np.concatenate((c,a.copy()))
    print(c.shape)

np.save(
   "../../Data/E2_FinanceData/FinanceData_20days_Mult10.npy", c
)

(1010, 20, 6)
(1515, 20, 6)
(2020, 20, 6)
(2525, 20, 6)
(3030, 20, 6)
(3535, 20, 6)
(4040, 20, 6)
(4545, 20, 6)
(5050, 20, 6)

In [32]:
505*10

5050